body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 10px;
}
.img-width{
    width: 45px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}